* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   height: 100vh;
   width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}
.App{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-nav {
padding-left: 20px;
}
.error {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.main {
    flex-grow: 1;
    width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
.main_products {
    width: 100%;
justify-content: center;
align-items: center;
    display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
    gap: 10px;

    }
 .products_presentation{
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px -6px #222;
    font-size: 14px;
 }
 .products_presentation img {
    height: 50%;
    object-position: center;
 }
 .products_presentation_content {
height: 50%;
display: flex;
flex-direction: column;
 }
 .products_presentation_content h2 {
    font-weight: bold;
     }
    .products_presentation_additional {
align-self: flex-start;
     }
 .products_presentation button {
   align-self: flex-end;
     }





    /* tablet query */
    @media only screen and (min-width: 912px) {
        .navbar {
        padding-right: 20px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: flex;
          justify-content: center;
        }
        .search-input {
          width: 500px;
        }
        .search-input-form {
            max-width: 500px;
        }
        .input-nav {
          width: 500px;
        }
        .products_presentation {
            width: 30%;
            height: 450px;
        }
        .products_presentation_content {
            gap: 10px;
            width: 100%;
        }
        .products_presentation img {
            width: 100%;
            object-fit: contain;
         }
       
    }

    /* laptop query */
    @media only screen and (min-width: 1200px) {
        .navbar {
          padding: 0 40px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: none;
        }
         .products_presentation {
            width: 20%;
            height: 500px;
        }
        .main{
            width: 90%;
        }
      
  /* main_products where does overflow coming from?, it is not the main div all info is in */
       
    }