* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   height: 100vh;
   width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}
.App{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-nav {
padding-left: 20px;
}
.input-nav {
    text-decoration: none;
    background-color: transparent;
    width: 300px;
}
.error {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.main {
    flex-grow: 1;
    width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
.main_products {
    width: 100%;
justify-content: center;
align-items: center;
    display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
    gap: 10px;
    }
 .products_presentation{
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px -6px #222;
    font-size: 14px;
 }
 .products_presentation img {
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
 }
 .products_presentation_content {
height: 50%;
width: 100%;
display: flex;
flex-direction: column;
 }
 .products_presentation_content h2 {
    font-weight: bold;
     }
    .products_presentation_additional {
align-self: flex-start;
     }
 .products_presentation button {
   align-self: flex-end;
     }
     .mainLogin {
        width: 100%;
       height: 650px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }
.loginForm {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.loginForm h2 {
    font-size: 20px;
}
.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
 }
 .registerPage h2 {
    font-size: 20px;
    padding-top: 10px;
 }
.selectedProduct {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}
.selectedProduct img {
    align-self: center;
    margin-bottom: 15px;
}
.cartFixed {
    height: 70px;
    width: 100%;
border-top: 1px solid lightgray;
background-color: white;
}
.tabletDetails {
    display: none;
}
.productInCart {
    height: 200px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
}
.mainCart {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 15px;
    gap: 15px;
}
.productInCart img {
    height: 80px;
    width: 60px;
}
.priceCart {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.cartTablet {
    display: none;
}
.profileMainBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    gap: 15px;
}
.profileMainBtn button {
    width: 200px;
}
.purchaseMain {
    width: 100%;
    padding-top: 30px;
    height: 300px;

}
.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}
.brands {
    width: 100%;
    padding: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.brandsMap {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}




    /* tablet query */
    @media only screen and (min-width: 912px) {
        .navbar {
        padding-right: 20px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: flex;
          justify-content: center;
        }
        .search-input {
          width: 500px;
        }
        .search-input-form {
            max-width: 500px;
        }
        .input-nav {
          width: 500px;
        }
        .products_presentation {
            width: 30%;
            height: 450px;
        }
        .products_presentation_content {
            gap: 10px;
            width: 100%;
        }
        .products_presentation img {
            width: 100%;
            object-fit: contain;
            height: 50%;
         }
         .registerPage {
           font-size: 2em;
           }
           .registerPage span {
            font-size: 20px;
           }
           .registerPage button {
            font-size: 20px;
           }
           .registerPage {
            flex-grow: 1;
           }
           .selectedProduct {
            height: 500px;
            flex-direction: row;
            flex-wrap: wrap;
          position: relative;
          bottom: 200px;
           }
           .productText {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            gap: 20px;
            font-size: 1.5em;
           }
           .productText h2 {
            font-size: 1.5em;
            font-weight: normal;
           }
           .pricep {
            font-size: 1.5em;
           }
           .cartFixed {
            position: relative;
          top: 250px;
         background-color: transparent;
         border: none;
         width: 100%;
           }
           .cartFixedbtn {
         margin-left: 15px; 
            font-size: 1em;
            height: 70px;
           }
           .selectedProduct img {
            width: 50%;
            height: 100%;
           }
           .collapsehide {
            display: none;
           }
           .tabletDetails {
            padding-top: 30px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            font-size: 1.5em;
        }
        .tabletDetails h3 {
            border-bottom: 1px solid gray;
        }
        .tabletDetails p {
            padding: 0 15px;
           }
           .mainCart {
           justify-content: flex-start;
           align-items: flex-start;
        }
        .productInCart {
            display: none;
        }
        .cartTablet {
            display: block;
        }
        .btnCartHolder {
            width: 100%;
            display: flex;
            flex-direction: column;
           justify-items: center;
           align-items: center;
          
        }
        .btnCart {
            width: 20%;
            font-size: 1.5em;
        }
        .totalCart {
            align-self: center;
            font-size: 1.5em;
        }
        .tabletItemCard {
            width: 300px;
            height: 100px;
            display: flex;
            gap: 15px;
        }
        .tabletItemCard img {
            height: 100%;
            width: 30%;
        }
        .tabletItemCard  p {
            height: 100%;
            width: 70%;
        }
        .buyCart {
            display: none;
        }
        .mainCart{
            flex-grow: 1;
        }
        .profileMain {
            background-color: beige;
            display: row;
            align-items: start;
        }
        .profileMainBtn {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            padding-top: 30px;
            gap: 15px;
        }
        .profileMainBtn button {
            width: 200px;
        }
        .purchaseMain {
        padding-top: 0;
     position: relative;
     bottom: 100%;
        }
        .purchaseMain td {
            font-size: 25px;
        }
        .purchaseMain button {
            font-size: 25px;
        }
        .brnds {
display: grid;
width: 90%;
grid-gap: 10px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-auto-rows: 100px;
grid-auto-flow: dense;
padding: 0.5rem; 
        }
        .brandsMap {
display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 font-size: 16px;
        }
       
    }

    /* laptop query */
    @media only screen and (min-width: 1200px) {
        .navbar {
          padding: 0 40px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: none;
        }
         .products_presentation {
            width: 20%;
            height: 500px;
        }
        .mainLogin {
            height: 700px;
        }
        .loginForm {
       
            }
            .loginForm input {
                font-size: 20px;
            }
            .loginForm button {
                font-size: 20px;
            }
         .registrationForm {
            height: 700px;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            .registerPage h2 {
               padding: 0;
             }
           .selectedProduct {
          height: fit-content;
          bottom: 0;
         justify-content: center;
         padding: 30px 15px;
           }
           .cartFixed {
            top: 350px;
           }
           .selectedProduct img {
           height: 600px;
           width: 45%;
           }
           .productText {
           height: 600px;
      font-size: 20px;
           }
           .mainCart {
            bottom: 0;
           }
        .mainCart h2 {
            align-self: center;
        }
        .profileInfo {
            justify-content: center;
            align-items: center;
        }
        .purchaseMain {
      bottom: 0;
            }
            .purchaseMain td {
                font-size: 25px;
            }
            .purchaseMain button {
                font-size: 25px;
                height: fit-content;
                width: fit-content;
                padding: 20px 40px;
            }
            .brnds {
                grid-auto-rows: 120px;
                        }

       
    }