* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   height: 100vh;
   width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}
.App{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-nav {
padding-left: 20px;
}
main {
    flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.error {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}





    /* tablet query */
    @media only screen and (min-width: 912px) {
        .navbar {
        padding-right: 20px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: flex;
          justify-content: center;
        }
        .search-input {
          width: 500px;
        }
        .search-input-form {
            max-width: 500px;
        }
        .input-nav {
          width: 500px;
        }
       
    }

    /* laptop query */
    @media only screen and (min-width: 1200px) {
        .navbar {
          padding: 0 40px;
        }
        .navbar-end {
            gap: 20px;
        }
        .sub-nav{
            display: none;
        }
       
    }